body {
    background-color: #18a173;
}

.head h1 {
    font-weight: 400;
}

.mainDiv {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    height: 400px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}

.loginDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inp {
    display: flex;

    margin-bottom: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Button {

    background-color: #18a173;
    color: #fff;
    transition: 0.5s;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

@media (max-width: 559px) {
    .imgDiv {
        display: none;
    }

    .btn {
        display: flex;
        justify-content: center;


    }

    .mainDiv {
        margin-left: -15px;
    }
}